<section class="section-agencias white-to-blue">
    <div class="row">
        <div class="column width-6">
            <h3>Seja Data Driven Marketing</h3>
            <p>O <strong>marketing orientado a dados</strong> é uma tendência para todos os segmentos de
                negócio. O uso de <strong>Call Tracking e inteligência de voz</strong> são fundamentais para
                extrair o máximo de cada campanha.</p>
        </div>
        <div class="column width-6">
            <img src="/assets/images/agencias/graficos.png.pagespeed.ce.agaPIgj9Ww.png"
                alt="Gráficos dos canais">
        </div>
    </div>
</section>