<section class="section-agencias blue-to-white">
    <div class="row">
        <div class="column width-6">
            <img src="/assets/images/agencias/comparativo.png.pagespeed.ce.0FabAjiEkJ.png"
                alt="Gráficos dos canais">
        </div>
        <div class="column width-6">
            <h3>Transforme suas campanhas</h3>
            <p>Suas campanhas geram formulários, chats, visitas no site e <strong>ligações
                    telefônicas</strong>. Como você <strong>mensura</strong> e comprova o <strong>resultado
                    completo</strong> das suas campanhas?
                Apresente ao seu cliente o ROI completo, incluindo <strong>dados do telefone</strong> —
                canal considerado o mais quente na maioria dos segmentos.
            </p>
        </div>
    </div>
</section>