<footer id="page-footer">
    <nav>
        <div>
            <a href="/recursos" class="trackedEvent" title="Recursos" data-categoria="Rodapé"
                data-acao="Recursos" data-rotulo="Main-link"><i class="fa fa-cogs"></i> Recursos</a>
            <ul>
                <li><a href="/recursos/mensuracao-de-campanhas" class="trackedEvent"
                        title="Mensuração de campanhas" data-categoria="Rodapé"
                        data-acao="Recursos - Mensuração de campanhas" data-rotulo="Main-link">Mensuração de
                        campanhas</a></li>
                <li><a href="/recursos/monitoramento" class="trackedEvent" title="Monitoramento de ligações"
                        data-categoria="Rodapé" data-acao="Recursos - Monitoramento de ligações"
                        data-rotulo="Main-link">Monitoramento de ligações</a></li>
                <li><a href="/recursos/painel-de-indicadores" class="trackedEvent"
                        title="Painel de indicadores" data-categoria="Rodapé"
                        data-acao="Recursos - Painel de indicadores" data-rotulo="Main-link">Painel de
                        indicadores</a></li>
                <li><a href="/recursos/ferramentas-de-gestao" class="trackedEvent"
                        title="Ferramentas de gestão" data-categoria="Rodapé"
                        data-acao="Recursos - Ferramentas de gestão" data-rotulo="Main-link">Ferramentas de
                        gestão</a></li>
                <li><a href="/recursos/integracoes" class="trackedEvent" title="Integrações"
                        data-categoria="Rodapé" data-acao="Recursos - Integrações"
                        data-rotulo="Main-link">Integrações</a></li>
                <li><a href="/recursos/numeros-especiais" class="trackedEvent" title="Números especiais"
                        data-categoria="Rodapé" data-acao="Recursos - Números especiais"
                        data-rotulo="Main-link">Números especiais</a></li>
            </ul>
        </div>
        <div>
            <a href="#"><i class="fa fa-briefcase"></i> Setores</a>
            <ul>
                <li><a href="/agencias" class="trackedEvent" title="Agências" data-categoria="Rodapé"
                        data-acao="Setores" data-rotulo="Agências">Agências</a></li>
                <li><a href="/setores/hoteis" class="trackedEvent" title="Hotéis & Resorts"
                        data-categoria="Rodapé" data-acao="Setores" data-rotulo="Hotéis e Resorts">Hotéis &
                        Resorts</a></li>
                <li><a href="#">Imobiliárias</a></li>
                <li><a href="/setores/clinicas" class="trackedEvent" title="Clínicas"
                        data-categoria="Rodapé" data-acao="Setores" data-rotulo="Clínicas">Clínicas</a></li>
                <li><a href="/setores/concessionarias" class="trackedEvent" title="Concessionárias"
                        data-categoria="Rodapé" data-acao="Setores"
                        data-rotulo="Concessionárias">Concessionárias</a></li>
            </ul>
        </div>
        <div>
            <a href="/planos" class="trackedEvent" title="Planos" data-categoria="Rodapé" data-acao="Planos"
                data-rotulo="Main-link"><i class="fa fa-tags"></i> Planos</a>
            <ul>
                <li><a href="/planos?plano=empresas" class="trackedEvent" title="Para empresas"
                        data-categoria="Rodapé" data-acao="Planos" data-rotulo="Para empresas">Para
                        empresas</a></li>
                <li><a href="/planos?plano=agencias" class="trackedEvent" title="Para agências"
                        data-categoria="Rodapé" data-acao="Planos" data-rotulo="Para agências">Para
                        agências</a></li>
                <li><a href="/planos?plano=numeros-especiais" class="trackedEvent" title="Números especiais"
                        data-categoria="Rodapé" data-acao="Planos" data-rotulo="Números especiais">Números
                        especiais</a></li>
            </ul>
        </div>
        <div>
            <a href="#"><i class="fa fa-puzzle-piece"></i> Parcerias</a>
            <ul>
                <li><a href="/parceiros/rdstation" class="trackedEvent" title="RD Station"
                        data-categoria="Rodapé" data-acao="Parcerias" data-rotulo="RD Station">RD
                        Station</a></li>
                <li><a href="/parceiros/lahar" class="trackedEvent" title="Lahar" data-categoria="Rodapé"
                        data-acao="Parcerias" data-rotulo="Lahar">Lahar</a></li>
                <li><a href="/parceiros/hotmart" class="trackedEvent" title="Hotmart"
                        data-categoria="Rodapé" data-acao="Parcerias" data-rotulo="Hotmart">Hotmart</a></li>
            </ul>
        </div>
        <div>
            <a href="#"><i class="fa fa-info-circle"></i> Sobre</a>
            <ul>
                <li><a href="http://blog.phonetrack.com.br/" target="_blank" class="trackedEvent"
                        title="Blog PhoneTrack" data-categoria="Rodapé" data-acao="Sobre"
                        data-rotulo="Blog PhoneTrack">Blog PhoneTrack</a></li>
                <li><a href="/faq" class="trackedEvent" title="Dúvidas frequentes" data-categoria="Rodapé"
                        data-acao="Sobre" data-rotulo="Dúvidas frequentes">Dúvidas frequentes</a></li>
                <li><a href="/vendas" class="trackedEvent" title="Vendas" data-categoria="Rodapé"
                        data-acao="Sobre" data-rotulo="Vendas">Vendas</a></li>
                <li><a href="/parcerias" class="trackedEvent" title="Parcerias" data-categoria="Rodapé"
                        data-acao="Sobre" data-rotulo="Parcerias">Parcerias</a></li>
                <li><a href="/suporte" class="trackedEvent" title="Suporte" data-categoria="Rodapé"
                        data-acao="Sobre" data-rotulo="Suporte">Suporte</a></li>
                <li><a href="https://99jobs.com/phonetrack" class="margin-menu disabled trackedEvent"
                        title="Trabalhe conosco" data-categoria="Rodapé" data-acao="Sobre"
                        data-rotulo="Trabalhe conosco">Trabalhe conosco</a></li>
                <li>
                    <a href="https://painel.phonetrack.com.br/assets/termos-uso-phonetrack-16_01_2016.html"
                        target="_blank">Política de privacidade</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div>
            <a href="tel:08009424060" class="trackedEvent" title="0800 942 4060" data-categoria="Rodapé"
                data-acao="Ligar 0800" data-rotulo="?pagina"><i class="fa fa-comments"></i> 0800 942
                4060</a>
            <a href="mailto:contato@phonetrack.com.br" class="trackedEvent"
                title="contato@phonetrack.com.br" data-categoria="Rodapé" data-acao="Email"
                data-rotulo="?pagina"><i class="fa fa-envelope"></i> contato@phonetrack.com.br</a>
        </div>
        <div>
            <a href="https://www.linkedin.com/company/phonetrack/" target="_blank" class="trackedEvent"
                title="LinkedIn" data-categoria="Rodapé" data-acao="LinkedIn" data-rotulo="not-set"><i
                    class="fa fa-linkedin"></i></a>
            <a href="https://www.facebook.com/PhoneTrack/" target="_blank" class="trackedEvent"
                title="Facebook" data-categoria="Rodapé" data-acao="Facebook" data-rotulo="not-set"><i
                    class="fa fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/phonetrack/" target="_blank" class="trackedEvent"
                title="instagram" data-categoria="Rodapé" data-acao="Instagram" data-rotulo="not-set"><i
                    class="fa fa-instagram"></i></a>
        </div>
        <div>
            <p>Uma empresa associada</p>
            <a href="http://abradi.com.br/" target="_blank" class="trackedEvent" title="Abradi"
                data-categoria="Rodapé" data-acao="Abradi" data-rotulo="not-set"><img
                    src="/assets/images/abradi.png.pagespeed.ce.JSTB3kpQhf.png" alt="Abradi"></a>
            <a href="https://endeavor.org.br/" target="_blank" class="trackedEvent" title="Endeavor"
                data-categoria="Rodapé" data-acao="Endeavor" data-rotulo="not-set"><img
                    src="/assets/images/endeavor.png.pagespeed.ce.rqxUFVKq18.png" alt="Endeavor"></a>
        </div>
    </div>
</footer>