{% if home.versao == 'default' %}
<section id="topo-agencias">
    <div class="row">
        <div class="column width-6">
            <h1>{{ home.titulo }}</h1>
            <h2>{{ home.subtitulo }}</h2>
            <p>{{ home.content }}</p>
            <a href="{{ home.acao_botao_um}}" class="abreFormulario trackedEvent" data-categoria="Agências"
                data-acao="Solicite uma demo" data-rotulo="Topo"><i class="fa fa-user-plus"
                    aria-hidden="true"></i> {{ home.botao_um }}</a>
            <a href="{{ home.acao_botao_dois}}" class="scroll-link trackedEvent" data-categoria="Agências"
                data-acao="Botões" data-rotulo="Planos para agências (topo)"><i class="fa fa-tags"
                    aria-hidden="true"></i> {{ home.botao_dois}}</a>
        </div>
        <div class="column width-6">
            <img src="{{ home.imagem }}"
                alt="PhoneTrack para agências">
        </div>
    </div>
</section>
{% endif %}
{% if home.versao == 'simple' %}
<section id="topo-agencias">
    <div class="row">
        <div class="column width-6">
            <h1>{{ home.titulo }}</h1>
            <h2>{{ home.subtitulo }}</h2>
            <p>{{ home.content }}</p>
            <a href="{{ home.acao_botao_um}}" class="abreFormulario trackedEvent" data-categoria="Agências"
                data-acao="Solicite uma demo" data-rotulo="Topo"><i class="fa fa-user-plus"
                    aria-hidden="true"></i> {{ home.botao_um }}</a>
        </div>
        <div class="column width-6">
            <img src="{{ home.imagem }}"
                alt="PhoneTrack para agências">
        </div>
    </div>
</section>    
{% endif %}